name: Secret Scan

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main
      - staging

jobs:
  trufflehog-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run TruffleHog
        run: |
          docker run --rm \
            -v "$PWD:/repo" \
            ghcr.io/trufflesecurity/trufflehog:latest \
            filesystem /repo \
            --results=verified,unknown,unverified \
            --exclude-paths=/repo/trufflehog-exclude.txt \
            --fail \
            --json
