name: Secret Scan

on:
  push:
    branches:
      - "**" # every branch
  pull_request:
    branches:
      - main
      - staging

jobs:
  trufflehog-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # REQUIRED for history scanning

      - name: Run TruffleHog
        run: |
          docker run --rm \
            -v "$PWD:/repo" \
            ghcr.io/trufflesecurity/trufflehog:latest \
            filesystem /repo \
            --fail \
            --json
